body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
header{
    text-align: right;
    background-image: url('images/banner/banner1.png');
    padding: 150px 230px 150px 800px;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;

}
.header-title{
    color:#151414;
font-size: 65px;
font-weight: 700;

}
.header-description{
    color: #444343;
font-size: 16px;
font-weight: 400;
margin-bottom: 50px;
}
.header-button{
    border-radius: 5px;
background-color: #F15B22;
color: #FFF;
font-size: 20px;
font-weight: 600;
padding: 15px 30px;
border: 0;

}
main .background{
    max-width: 1140px;
}
.failures{
    display: flex;
    align-items: center;
    width: fit-content;
    padding-top: 150px;
    gap: 130px;
}
.failures img{
    margin-left: 200px;
   
}
.failure-info{
   margin-right: 300px;
}
.failure-title{
    color:  #151414;
font-size: 40px;
font-weight: 700;
}

.failure-descrition{
    color:  #444343;
font-size: 16px;
font-weight: 400;
}
.failures li{
    margin: 10px;
}
.plans-container{
    display: flex;
    justify-content: center;
}

.plans-section-title{
    color:#151414;
font-size: 40px;
font-weight: 700;
text-align: center;
margin-top: 150px;
margin-bottom: 100px;
}
.plans-title{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.plans-description{
    color:#737272;
text-align: center;
font-size: 25px;
font-weight: 500;
}
.plans{
    text-align: center;
    margin-right: 50px;
}
.background-title{
    color: #FFF;
font-size: 40px;
font-weight: 700;
}
.background{
    background-image: url('images/watch.png') , url('images/gradient1.png');
    background-repeat: no-repeat;
    margin: 130px auto;
    padding: 30px;
    border-radius: 8px;
    
}
.background-button{
    color: #F15B22;
text-align: center;
font-size: 20px;
font-weight: 600;
border-radius: 5px;
background-color: #FFF;
padding: 15px 30px;
border: 0;
margin-bottom: 50px;

}
footer{
    background: #151414;
    display: flex;
}
.footer-title{
    color: #F8F8F8;
font-size: 45px;
font-weight: 700;
}
.footer-description{
    color: #FFF;
font-size: 16px;
font-weight: 400;
}
.subscribe{
    color: #FFF;
font-size: 25px;
font-weight: 600;
}
.footer-column{
    width: 50%;
    padding: 130px 230px;
}
footer input , button{
    display: block;
    margin-bottom: 30px;
}
footer input{
    color: #F3F3F3;
font-size: 18px;
font-weight: 400;
background-color:  #151414;
border: 1px solid white;
padding: 20px;
border-radius: 8px;
}
.subscribe-button{
    color: #F15B22;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
background: #FFF;
padding: 15px 30px;
}
.social-media-icons a{
    margin-right: 15px;
}